/**
*    ___                     _____                             
*   |_  |                   |_   _|                            
*     | |_   _  __ _ _ __     | | ___  _ __   __ _ _ __   __ _ 
*     | | | | |/ _` | '_ \    | |/ _ \| '_ \ / _` | '_ \ / _` |
* /\__/ / |_| | (_| | | | |   | | (_) | | | | (_| | | | | (_| |
* \____/ \__,_|\__,_|_| |_|   \_/\___/|_| |_|\__,_|_| |_|\__, |
*                                                         __/ |
*                                                        |___/ 
**/
/*  GENERAL
/* ------------------------------------ */
body, html {
  height: 100%;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  transition: all 350ms ease;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.alignnone {
  margin: 0 auto;
}
.alignnone img {
  display: inline-block;
}

.line-contain {
  padding: 20px 0;
  border-top: 1px dashed #757575;
  border-bottom: 1px dashed #757575;
}

/*  HELPER
/* ------------------------------------ */
.cb {
  clear: both;
}

.space15 {
  width: 100%;
  height: 15px;
}

.space20 {
  width: 100%;
  height: 20px;
}

.space30 {
  width: 100%;
  height: 30px;
}

/*  ELEMENTS
/* ------------------------------------ */
.btn {
  font-weight: normal;
  text-transform: capitalize;
  border-radius: 0;
  border: none;
  position: relative;
  transition: all 300ms ease-out;
  display: inline-block;
}

.btn-dark {
  color: white;
  box-shadow: inset 0 0 0 100px #757575, 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.btn-dark:hover, .btn-dark:focus {
  color: white;
  box-shadow: inset 0 0 0 100px #8f8f8f, 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.btn-dark:active {
  top: 5px !important;
  left: 5px !important;
  box-shadow: inset 0 0 0 100px #8f8f8f, 2.5px 2.5px 0px rgba(0, 0, 0, 0.2);
}

/*  FORM
/* ------------------------------------ */
/*  SITE-HEADER
/* ------------------------------------ */
.site-header {
  background-color: #00AFF0;
  padding: 20px 0;
  color: white;
  z-index: 999;
  position: relative;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.logo {
  float: left;
}

.main-navigation {
  float: right;
  font-size: 21px;
  font-weight: 300;
}
.main-navigation ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.main-navigation ul li {
  float: left;
  position: relative;
}
.main-navigation ul li:hover a, .main-navigation ul li:focus a {
  color: #333;
}
.main-navigation ul li a {
  color: #e6e6e6;
  display: block;
  margin: 20px 30px;
}

/*  SITE-MAIN
/* ------------------------------------ */
.header-section .title-section {
  color: #757575;
  font-size: 48px;
  font-style: italic;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.header-section .subtitle-section {
  font-size: 18px;
}

.section-box {
  padding: 40px 0 20px;
}

.banner-section {
  background-color: #F1F1F1;
}

.banner-carousel {
  padding: 5% 0;
  position: relative;
}
.banner-carousel .title-banner {
  font-size: 62px;
  font-style: italic;
  color: #757575;
  font-weight: bold;
  margin-bottom: 10px;
}
.banner-carousel .subtitle-banner {
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  color: #757575;
}

.item-intro {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.item-intro .subitem-intro {
  border-radius: 12px;
  background: #00AFF0;
  max-width: 200px;
  display: block;
  padding: 10px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.item-intro h3 {
  margin-top: 0;
  color: white;
  text-transform: uppercase;
}
.item-intro i {
  color: white;
  font-size: 90px;
}

.section-client {
  padding: 0;
}

.item-client {
  position: relative;
  margin-bottom: 30px;
}

/*  SITE-FOOTER
/* ------------------------------------ */
.site-footer {
  background: #00AFF0;
  color: white;
  padding: 20px 0 60px;
  margin-top: 80px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.logo-floating {
  position: relative;
  top: -40px;
  float: left;
  margin-right: 40px;
}

.info {
  float: left;
  position: relative;
  font-size: 26px;
  text-align: center;
}
.info p {
  margin-bottom: 0;
}
.info .copyright {
  font-weight: 300;
}
.info .copyright a {
  color: white;
}
.info .copyright a:hover, .info .copyright a:focus {
  color: #757575;
}

.list-socmed {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.list-socmed li {
  float: left;
}
.list-socmed a {
  font-size: 32px;
  color: white;
  display: block;
  margin-left: 20px;
}
.list-socmed a:hover, .list-socmed a:focus {
  color: #757575;
}

/*  WIDGET
/* ------------------------------------ */
/*  THIS IS STYLING ONLY FOR INDEX (SHOWING)
**  LIST PAGE
/* ------------------------------------ */
.front {
  background-color: white;
  font-family: "Raleway", sans-serif;
}
.front .site-main {
  position: relative;
  text-align: center;
}
.front .box-menu {
  position: absolute;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 450px;
  width: 450px;
  margin: 0 auto;
}
.front .box-menu ul {
  list-style: none outside none;
  position: relative;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}
.front .box-menu ul li {
  display: block;
}
.front .box-menu ul a {
  display: inline-block;
  color: #333;
  padding: 5px 0;
  margin-bottom: 5px;
}
.front .box-menu ul a:hover, .front .box-menu ul a:focus {
  color: #23D032;
}

/*  MEDIA-QUERIES
/* ------------------------------------ */

/*# sourceMappingURL=app-unprefixed.css.map */
