// VARIABLES
$blue: #00AFF0;
$white: darken( white, 10% );
$black: #757575;

$roboto: "Roboto", sans-serif;
// PARAMETRIC-MIXIN
@mixin selection(){
	::selection{}
	::-moz-selection{}
}
@mixin opacity ( $value: 0.5 ) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}
@mixin antialias {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}
@mixin resetlist{
	list-style: none outside none;
	padding: 0;
	margin: 0;
}
@mixin circle( $size: 35px ){
	text-align: center;
	display: inline-block;
	line-height: $size;
	height: $size;
	width: $size;
	border-radius: 50%;
}
@mixin placeholder(){
	::-webkit-input-placeholder {
		font-size: 11px;
		text-transform: uppercase;
	}
	:-moz-placeholder { /* Firefox 18- */
		font-size: 11px;
		text-transform: uppercase;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		font-size: 11px;
		text-transform: uppercase;
	}
	:-ms-input-placeholder {  
		font-size: 11px;
		text-transform: uppercase;
	}
}
@mixin bordradius( $value: 12px ){
	border-radius: $value;
}