/* ------------------------------------------------------------------------- *
 *  This styling is for Default WordPress Styles
/* ------------------------------------------------------------------------- */

/*  WYSIWYG
/* ------------------------------------ */
.entry-content img{
	margin: 0 0 1.5em 0;
}
.alignleft, 
img.alignleft{
	margin-right: 1.5em;
	display: inline;
	float: left;
}
.alignright,
img.alignright{
	margin-left: 1.5em;
	display: inline;
	float: right;
}
.aligncenter,
img.aligncenter{
	margin: 0 auto 1.5em;
	display: block;
	clear: both;
}

.alignnone,
img.alignnone{

}

.wp-caption{
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
	img{
		border: 0 none;
		padding: 0;
		margin: 0;
	}
	p.wp-caption-text{
		line-height: 1.5;
		font-size: 10px;
		margin: 0;
	}
}
.wp-smiley{
	margin: 0 !important;
	max-height: 1em;
}
blockquote{
	&.left{
		margin-right: 20px;
		text-align: right;
		margin-left: 0;
		width: 33%;
		float: left;
	}
	&.right{
		margin-left: 20px;
		text-align: left;
		margin-right: 0;
		width: 33%;
		float: right;
	}
}

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full{}
.size-large{}
.size-medium{}
.size-thumbnail{}

/*  Miscellaneous Styles
/* ------------------------------------ */
li{
	&.categories{}
	&.cat-item{}
	&.current-cat{}
	&.current-cat-parent{}
}
ul.children{}

.linkcat{}
.blogroll{}

.more-link{}

/*  Page Lstings
/* ------------------------------------ */
.pagenav{}
.page_item{}
.current_page_item{}
.current_page_parent{}
.current_page_ancestor{}

.pagenav{
	ul{
		ul{}
	}
	.current_page_item{
		ul{
			ul{}
		}
	}
	.current_page_ancestor{
		ul{
			ul{}
		}
		.current_page_item{
			ul{
				ul{}
			}
		}
		.current_page_ancestor{
			ul{
				ul{}
			}
			.current_page_item{
				ul{}
			}
			.current_page_ancestor{
				ul{}
			}
		}

	}
}

/*  Widget
/* ------------------------------------ */
.widget{}

// Links widget
.widget_links{
	ul{
		li{
			a{}
		}
	}
	li{
		&:before,
		&:after{}
		&:before{}
		&:after{}
	}
}

// Meta widget
.widget_meta{
	ul{
		li{
			a{}
		}
	}
}

// Page widget
.widget_pages{
	ul{
		li{
			a{}
		}
	}
}

// Recent-post widget
.widget_recent_entries{
	ul{
		li{
			a{}
		}
	}
}

// Archives widget
.widget_archive{
	ul{
		li{
			a{}
		}
	}
	select{}
	option{}
}

// Tag-cloud widget
.widget_tag_cloud{
	a{
		&:before{}
		&:after{}
	}
}

// Calendar widget
.widget_calendar{}
#calendar_wrap{
	th{}
	td{}
}
#wp-calendar{
	tr{
		td{}
	}
	caption{}
	a{}
	#today{}
	#prev{
		a{}
	}
	#next{
		a{}
	}
}

// Category widget
.widget_categories{
	ul{
		li{}
		ul.children{}
	}
	a{}
	select{
		&#cat{}
		&.postform{}
	}
	option{}
	.level-0{}
	.level-1{}
	.level-2{}
	.level-3{}
}

// Recent-comment widget
.recentcomments{}
#recentcomments{
	li{
		a{}
	}
}
.widget_recent_comments{}

// Search widget
.widget_search{}
.screen-reader-text{}

// Text widget
.textwidget{
	p{}
}
.widget_text{}

// Comment style
.commentlist{
	.reply{
		a{}
	}
	.alt{}
	.odd{}
	.even{}
	.thread-alt{}
	.thread-odd{}
	.thread-even{}
	li{
		ul.children{
			.alt{}
			.odd{}
			.even{}
		}
	}
	.vcard{
		cite.fn{}
		span.says{}
		img.photo{}
		img.avatar{}
		cite.fn a.url{}
	}
	.comment-meta{
		a{}
	}
	.commentmetadata{
		a{}
	}
	.parent{}
	.comment{}
	.children{}
	.pingback{}
	.bypostauthor{}
	.comment-author{}
	.comment-author-admin{}

	li{
		p{}
		ul{}
		ul.children{
			li{}
			li.alt{}
			li.byuser{}
			li.comment{}
			li.bypostauthor{}
			li.comment-author-admin{}
		}
	}
}

#cancel-comment-reply{
	a{}
}


/*  Body Class
/* ------------------------------------ */
.rtl {}
.home {}
.blog {}
.archive {}
.date {}
.search {}
.paged {}
.attachment {}
.error404 {}
.single postid-(id) {}
.attachmentid-(id) {}
.attachment-(mime-type) {}
.author {}
.author-(user_nicename) {}
.category {}
.category-(slug) {}
.tag {}
.tag-(slug) {}
.page-parent {}
.page-child parent-pageid-(id) {}
.page-template page-template-(template file name) {}
.search-results {}
.search-no-results {}
.logged-in {}
.paged-(page number) {}
.single-paged-(page number) {}
.page-paged-(page number) {}
.category-paged-(page number) {}
.tag-paged-(page number) {}
.date-paged-(page number) {}
.author-paged-(page number) {}
.search-paged-(page number) {}

/*  post_class()
/* ------------------------------------ */
.post-id {}
.post {}
.page {}
.attachment {}
.sticky {}
.hentry {}
.category-misc {}
.category-example {}
.tag-news {}
.tag-wordpress {}
.tag-markup {}