/**
*    ___                     _____                             
*   |_  |                   |_   _|                            
*     | |_   _  __ _ _ __     | | ___  _ __   __ _ _ __   __ _ 
*     | | | | |/ _` | '_ \    | |/ _ \| '_ \ / _` | '_ \ / _` |
* /\__/ / |_| | (_| | | | |   | | (_) | | | | (_| | | | | (_| |
* \____/ \__,_|\__,_|_| |_|   \_/\___/|_| |_|\__,_|_| |_|\__, |
*                                                         __/ |
*                                                        |___/ 
**/


// VARIABLES & PARAMETRIC-MIXIN
@import "variablesparametricmixin";



/*  GENERAL
/* ------------------------------------ */
body, html{
	height: 100%;
}
body{
	color: $black;
	font-family: $roboto;
	font-size: 16px;
}

// LINKS
a{
	transition: all 350ms ease;
	&:hover,
	&:focus{
		text-decoration: none;
	}
}

// HEADINGS
h1, h2, h3, h4, h5, h6{}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}

// PRELOADER

// IMAGES
figure{
	img{}
}
img{
	max-width: 100%;
	height: auto;
}
iframe{}

// (UN)ORDER-LIST
ul, ol{}
ul{}
ol{
	li{}
}
ol ol li{}

ol ol ol li{}

.row-inner{}

.fancy-line{ }

.alignleft{
	img{}
}
.alignnone{
	margin: 0 auto;
	img{
		display: inline-block;
	}
}
.alignright{
	img{}
}

.line-contain{
	padding: 20px 0;
	border-top: 1px dashed $black;
	border-bottom: 1px dashed $black;
}
/*  HELPER
/* ------------------------------------ */
.cb{
	clear: both;
}
// SPACE
$spacing:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px );

@each $class-space, $prop-space in $spacing{
	.#{$class-space}{
		width: 100%;
		height: $prop-space;
	}
}

// BACKGROUND-COLOR
$bgcolor:
	( namebg, hexbg );
@each $namebg, $hexbg in $bgcolor{
	.bg-#{$namebg}{
		background-color: $hexbg;
	}
}
/*  ELEMENTS
/* ------------------------------------ */
// PLACEHOLDER
// BUTTON
.btn{
	font-weight: normal;
	text-transform: capitalize;
	border-radius: 0;
	border: none;
	position: relative;
	transition: all 300ms ease-out;
	display: inline-block;
}
.btn-dark{
	color: white;
	box-shadow: inset 0 0 0 100px $black, 5px 5px 0px rgba(0, 0, 0, 0.2);
	&:hover,
	&:focus{
		color: white;
		box-shadow: inset 0 0 0 100px lighten( $black, 10%) , 5px 5px 0px rgba(0, 0, 0, 0.2);
	}
	&:active{
		top: 5px !important;
		left: 5px !important;
		box-shadow: inset 0 0 0 100px lighten( $black, 10%) , 2.5px 2.5px 0px rgba(0, 0, 0, 0.2);
	}
}
.btn-fullwidth{}
.btn-s{}
.btn-l{}


// FIELDS
input[type="text"],
input[type="email"],s
input[type="password"],
input[type="url"],
input[type="search"],
textarea{}

textarea{}


/*  FORM
/* ------------------------------------ */
form{
	.fields{}
	.label-field{}
}

/*  SITE-HEADER
/* ------------------------------------ */
.site-header{
	background-color: $blue;
	padding: 20px 0;
	color: white;
	z-index: 999;
	position: relative;
	box-shadow: 5px 5px 0px rgba( black, .2 );
}
.logo{
	float: left;
	a{}
	img{}
}
.main-navigation{
	float: right;
	font-size: 21px;
	font-weight: 300;
	ul{
		@include resetlist();
		li{
			float: left;
			position: relative;
			&:hover,
			&:focus{
				a{
					color: #333;
				}
			}
			a{
				color: $white;
				display: block;
				margin: 20px 30px;
			}
		}
	}
}

/*  SITE-MAIN
/* ------------------------------------ */
.site-main{}
.page-content{}
.blog-content{}
.header-section{
	.title-section{
		color: $black;
		font-size: 48px;
		font-style: italic;
		text-transform: capitalize;
		font-weight: bold;
		text-align: center;
		margin-top: 0;
		margin-bottom: 20px;
	}
	.subtitle-section{
		font-size: 18px;
	}
}

// SECTION
.section-box{
	padding: 40px 0 20px;
}
.banner-section{
	background-color: #F1F1F1;
}
.banner-carousel{
	padding: 5% 0;
	position: relative;
	.item{}
	.title-banner{
		font-size: 62px;
		font-style: italic;
		color: $black;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.subtitle-banner{
		font-size: 34px;
		font-weight: bold;
		font-style: italic;
		color: $black;
	}
	.text-item{}
	.img-item{
	}
}

.section-intro{}
.intro-items{}
.item-intro{
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	.subitem-intro{
		border-radius: 12px;
		background: $blue;
		max-width: 200px;
		display: block;
		padding: 10px;
		box-shadow: 3px 3px 0px rgba( black, .2 );
	}
	h3{
		margin-top: 0;
		color: white;
		text-transform: uppercase;
	}
	i{
		color: white;
		font-size: 90px;
	}
}

.section-client{
	padding: 0;
}
.item-client{
	position: relative;
	margin-bottom: 30px;
	.subitem-client{}
	img{}
}
.section-need-quote{}
/*  SITE-FOOTER
/* ------------------------------------ */
.site-footer{
	background: $blue;
	color: white;
	padding: 20px 0 60px;
	margin-top: 80px;
}
.footer-left{
	float: left;
}
.footer-right{
	float: right;
}
.logo-floating{
	position: relative;
	top: -40px;	
	float: left;
	margin-right: 40px;
	img{}
}
.info{
	float: left;
	position: relative;
	font-size: 26px;
	text-align: center;
	p{
		margin-bottom: 0;
	}
	.copyright{
		font-weight: 300;
		a{
			color: white;
			&:hover,
			&:focus{
				color: $black;
			}
		}
	}
}
.list-socmed{
	@include resetlist;
	li{
		float: left;
	}
	a{
		font-size: 32px;
		color: white;
		display: block;
		margin-left: 20px;
		&:hover,
		&:focus{
			color: $black;
		}
	}
}
/*  WIDGET
/* ------------------------------------ */
.widget{}
.title-widget{}
.widget-sidebar{}
.widget-footer{}


/*  THIS IS STYLING ONLY FOR INDEX (SHOWING)
**  LIST PAGE
/* ------------------------------------ */
$raleway: "Raleway", sans-serif;
.front{
	background-color: white;
	font-family: $raleway;
	.site-main{
		position: relative;
		text-align: center;
	}
	.box-menu{
		position: absolute;
		background-color: darken( white, 5% );
		border: 1px solid #ccc;
		padding: 30px;
		left: 0;
		right:0;
		top: 0;
		bottom: 0;
		height: 450px;
		width: 450px;
		margin: 0 auto;
		ul{
			list-style: none outside none;
			position: relative;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
			li{
				display: block;
			}
			a{
				display: inline-block;
				color: #333;
				padding: 5px 0;
				margin-bottom: 5px;
				&:hover,
				&:focus{
					color: #23D032;
				}
			}
		}
	}
}

/*  MEDIA-QUERIES
/* ------------------------------------ */
@media (max-width: 1200px) {
}
@media (max-width: 995px) {
}
@media (max-width: 950px) {    
}
@media (max-width: 767px) {
}
@media (max-width: 690px) {
}
@media (max-width: 570px) {
}
@media (max-width: 480px) {
}